<!DOCTYPE html>
<html>
  <title>Aditi's Library</title>
  <head>
     <!-- Stylesheet -->
     <link href="../static/css/style.css" rel="stylesheet" type="text/css"/>
  </head>

 <body>

<div class="bgimg">
  <div class="topleft">
    <p>Aditi's Library</p>
  </div>
  <div class="middle">
    <h1>COMING SOON</h1>
    <hr>
    <p id="demo" style="font-size:30px"></p>
  </div>
  <div class="bottomleft">
    <p>Keep an eye out!</p>
  </div>
</div>

<!-- jQuery Latest Version 1.x -->
<script type="text/javascript" src="../static/js/script.js"></script>

</body>
</html>
