<!DOCTYPE html>
<html>
  <title>Aditi's Library</title>
  <head>
     <!-- Stylesheet 
     <link href="../static/css/style.css" rel="stylesheet" type="text/css"/>
     -->
  </head>

 <body>
    <h1 style="align-items: center;">Books in my shelf</h1>

<table style="align-items: center;">
    <thead>
      <tr>
        {% for key,value in result[0].items() %}
            <th>{{ key }}</th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>
    {% for i in range(0, length) %}
     <tr>
        {% for key, value in result[i].items() %}
         <td> {{ value }} </td>
        {% endfor %}
     </tr>
    {% endfor %}
    </tbody>
  </table>

</body>
</html>